<header>
    <div class="container">
      <div class="header-left">
        <%= link_to "AIZU app", root_path, id: "logo" %>
      </div>
      <div class="header-right">
        <a><%= link_to "ホーム", root_path, id: "opening_all"%></a>
        <a><%= link_to "一覧", restaurants_path, id: "opening_all"%></a>
      </div>
    </div>
  </header>
