<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <%= link_to "AIZU app", restaurants_path, id: "logo" %>
    <nav class="navbar navbar-fixed-bottom" role="navigation">
    </nav>
  </div>
  </div>
</header>
